.main {
  display: block; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#right {
  float:right; 
}


.center-page {
  margin-top: 0;
  margin-left: 40%;
  margin-right: 40%;
  z-index: 0;
}

.warning {
  position: fixed;
  left: 10%;
  top: 10%;

.categories {
  width: 20%;
  height: 100%;
  float: left;
  padding: 2em;
}
div > input {
  padding: 5px;

}
