
<div id="user-page" class="row">
	<div class="center-page">
		<div class="warning">
			<% if flash.has?(:message) %>
				<h3>Error</h3>
			  <%= flash[:message] %>
			<% end %>
		</div>
		<br>
		
		<h2 class="animated fadeIn">Sign up</h2>
		<br>
		<form class="animated zoomIn" action="/signup" method="post">
			<div class="form-group">
		    <label>First name:</label>
		    <input type="text" class="form-control" id="firstname" placeholder="First Name" name="user[first_name]">
		  </div>
		  <div class="form-group">
		    <label>Last name:</label>
		    <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="user[last_name]">
		  </div>
		  <div class="form-group">
		    <label>Username:</label>
		    <input type="text" class="form-control" id="username" placeholder="Username" name="user[username]">
		  </div>
		  <div class="form-group">
		    <label>Email address:</label>
		    <input type="email" class="form-control" id="email" placeholder="Email" name="user[email]">
		  </div>
		  <div class="form-group">
		    <label>Password:</label>
		    <input type="password" class="form-control" id="password" placeholder="Password" name="user[password]">
		  </div>
		  <button type="submit" class="btn btn-primary">Sign up</button>
		</form>

	</div>
</div>
