<% CUISINE = %w(
American
Mexican
Italian
Chinese
Bakery-Pastries
Diner
Seafood
Deli
Japanese
American-New
Smoothies-Juices
Sushi
Asian
Barbecue
Healthy
Desserts
Thai
Vegetarian
Breakfast
Tex-Mex
Pub-Food
Indian
Bar-Food
Lunch-Specials
Mediterranean
Middle-Eastern
Latin-American
French
Vietnamese
Greek
Cocktails
Korean
Southern
Tapas
Grill
LocalOrganic
Caribbean
South-American
AsianFusion
Soul-Food
Californian
Eclectic
Spanish
Irish
Vegan
Kosher
Alcohol
Cajun-Creole
Southwestern
Cuban
Calzones
Jamaican
Teahouses
Hoagies
Gastropub
Bistro
Kids-Menu
Hawaiian
Peruvian
Puerto-Rican
Dim-Sum
German
EasternEuropean
Turkish
Brazilian
Central-American
Late-Night
African
Pakistani
Ethiopian
Argentinean
Russian
Nuevo-Latino
Filipino)

CATEGORIES = %w(
Sandwiches
Burger
Pizza
Coffee
Tea
Wraps
Salads
Chicken
Wings
Soups
Bagels
Pasta
Steak
Hot-Dogs
Noodles
Cheesesteaks
Crepes
Ribs
Subs
) %>

<form class="" action="index" method="post">

<% CUISINE.each do |cuisine| %>
<input type="checkbox" name="cuisine[]" value="<%=cuisine%>">
<%=cuisine%> <br>
<%end%>
<input type="submit" name="" value="submit">
</form>
