<h1>Welcome Page</h1>

<form action="/search" method="POST">
  <div class="categories">
    <label><strong>Category</strong></label><br>
    <% CATEGORIES.each do |category| %>
      <input type="checkbox" name="category[]" value="<%= category %>"><%= category %></input>
    <% end %>
  </div>
  <label><strong>Cuisine</strong></label><br>

  <% CUISINE.each do |cuisine| %>
  <input type="checkbox" name="cuisine[]" value="<%=cuisine%>">
  <%=cuisine%> <br>
  <%end%>
  <input type="submit" value="submit">
</form>
